<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="currentCategoryName" class="category-title">
        <h4>{{ currentCategoryName | uppercase }}</h4>
        <hr />
      </div>
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a [routerLink]="['/products', product.id]"
              ><img
                [src]="product.imageUrl"
                [alt]="product.name"
                class="img-fluid"
              />
            </a>
            <h1>
              <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
            </h1>
            <div class="price">
              {{ product.unitPrice | currency : "USD" }}
            </div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div
          *ngIf="noProductsFound"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products were found.
        </div>
      </div>
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ngb-pagination
              [(page)]="currentPage"
              [pageSize]="pageSize"
              [collectionSize]="totalElements"
              (pageChange)="listProducts()"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
