<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered">
          <caption class="hidden-caption">
            Cart Details
          </caption>
          <tr>
            <th class="w-25 p-3">Product Image</th>
            <th class="w-50 p-3">Product Name</th>
            <th class="w-25 p-3"></th>
          </tr>
          <tbody>
            <tr *ngFor="let cartItem of cartItems">
              <td>
                <img [src]="cartItem.imageUrl" [alt]="cartItem.name" />
              </td>
              <td>
                {{ cartItem.name }} <br />
                {{ cartItem.unitPrice | currency : "USD" }}
              </td>
              <td>
                Amount:
                <button
                  (click)="decrementQuantity(cartItem)"
                  class="btn btn-primary btn-sm"
                >
                  <i class="fas fa-minus"></i>
                </button>
                {{ cartItem.quantity }}
                <button
                  (click)="incrementQuantity(cartItem)"
                  class="btn btn-primary btn-sm"
                >
                  <i class="fas fa-plus"></i>
                </button>
                <br />
                Subtotal:
                {{ cartItem.quantity * cartItem.unitPrice | currency : "USD" }}
                <br />
                <button
                  (click)="removeFromCart(cartItem)"
                  class="btn btn-primary btn-sm mt-2"
                >
                  Remove
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="text-right fw-bold">
                Total items: {{ totalQuantity }} <br />
                Total price: {{ totalPrice | currency : "USD" }} <br />
                Shipping: FREE
                <br />
                <a
                  [routerLink]="['/checkout']"
                  class="btn btn-primary btn-sm mt-2"
                >
                  Checkout
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="cartItems.length == 0">
        <div class="alert alert-warning col-md-12" role="alert">
          Your cart is empty.
        </div>
      </div>
    </div>
  </div>
</div>
