<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="customer" class="form-area">
          <legend class="fw-bold mb-4">Customer</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="firstName">First name: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="firstName" formControlName="firstName" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="lastName">Last name: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="lastName" formControlName="lastName" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="email">E-mail: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="email" formControlName="email" />
            </div>
          </div>
        </fieldset>
        <fieldset formGroupName="shippingAddress" class="form-area">
          <legend class="fw-bold mb-4">Shipping Address</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="country">Country: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="country" formControlName="country">
                <option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="state">State: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="state" formControlName="state" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="city">City: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="city" formControlName="city" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="street">Street: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="street" formControlName="street" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="zipCode">Zip code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="zipCode" formControlName="zipCode" />
            </div>
          </div>
        </fieldset>
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span> Billing address same as shipping
            address
          </label>
        </div>
        <fieldset formGroupName="billingAddress" class="form-area">
          <legend class="fw-bold mb-4">Billing Address</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="country">Country: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="country" formControlName="country">
                <option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="state">State: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="state" formControlName="state" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="city">City: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="city" formControlName="city" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="street">Street: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="street" formControlName="street" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="zipCode">Zip code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="zipCode" formControlName="zipCode" />
            </div>
          </div>
        </fieldset>
        <fieldset formGroupName="creditCardDetails" class="form-area">
          <legend class="fw-bold mb-4">Credit Card Details</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="cardType">Card type: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="cardType" formControlName="cardType">
                <option *ngFor="let cardType of cardTypes" [value]="cardType">
                  {{ cardType }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="nameOnCard">Name on card: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="nameOnCard" formControlName="nameOnCard" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="cardNumber">Card number: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="cardNumber" formControlName="cardNumber" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="securityCode">Security code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input
                type="text"
                id="securityCode"
                formControlName="securityCode"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="expirationMonth">Expiration month: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="expirationMonth" formControlName="expirationMonth">
                <option *ngFor="let month of cardMonths" [value]="month">
                  {{ month }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="expirationYear">Expiration year: </label>
            </div>
            <div class="col-md-9 input-space">
              <select
                id="expirationYear"
                formControlName="expirationYear"
                (change)="handleMonthsAndYears()"
              >
                <option *ngFor="let year of cardYears" [value]="year">
                  {{ year }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-3">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
