<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="customer" class="form-area">
          <legend class="fw-bold mb-4">Customer</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="firstName">First name: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="firstName" formControlName="firstName" />
              <div
                *ngIf="
                  firstName?.invalid && (firstName?.dirty || firstName?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                >
                  First name is required.
                </div>
                <div *ngIf="firstName?.errors?.['pattern']">
                  First name must contain only letters.
                </div>
                <div *ngIf="firstName?.errors?.['minlength']">
                  First name must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="lastName">Last name: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="lastName" formControlName="lastName" />
              <div
                *ngIf="
                  lastName?.invalid && (lastName?.dirty || lastName?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="lastName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                >
                  Last name is required.
                </div>
                <div *ngIf="lastName?.errors?.['pattern']">
                  Last name must contain only letters.
                </div>
                <div *ngIf="lastName?.errors?.['minlength']">
                  Last name must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="email">E-mail: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="email" formControlName="email" />
              <div
                *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="email?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                >
                  E-mail is required.
                </div>
                <div *ngIf="email?.errors?.['pattern']">
                  E-mail must follow a valid format (user@email.com)
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset formGroupName="shippingAddress" class="form-area">
          <legend class="fw-bold mb-4">Shipping Address</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="country">Country: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="country" formControlName="country">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="
                  shippingAddressCountry?.invalid &&
                  (shippingAddressCountry?.dirty ||
                    shippingAddressCountry?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div *ngIf="shippingAddressCountry?.errors?.['required']">
                  Country is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="state">State: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="state" formControlName="state">
                <option
                  *ngFor="let state of shippingAddressStates"
                  [ngValue]="state"
                >
                  {{ state.name }}
                </option>
              </select>
              <div
                *ngIf="
                  shippingAddressState?.invalid &&
                  (shippingAddressState?.dirty || shippingAddressState?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div *ngIf="shippingAddressState?.errors?.['required']">
                  State is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="city">City: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="city" formControlName="city" />
              <div
                *ngIf="
                  shippingAddressCity?.invalid &&
                  (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                >
                  City is required.
                </div>
                <div *ngIf="shippingAddressCity?.errors?.['pattern']">
                  City must contain only letters.
                </div>
                <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                  City must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="street">Street: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="street" formControlName="street" />
              <div
                *ngIf="
                  shippingAddressStreet?.invalid &&
                  (shippingAddressStreet?.dirty ||
                    shippingAddressStreet?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                >
                  Street is required.
                </div>
                <div *ngIf="shippingAddressStreet?.errors?.['pattern']">
                  Street must contain only letters.
                </div>
                <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                  Street must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="zipCode">Zip code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="zipCode" formControlName="zipCode" />
              <div
                *ngIf="
                  shippingAddressZipCode?.invalid &&
                  (shippingAddressZipCode?.dirty ||
                    shippingAddressZipCode?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']"
                >
                  Zip code is required.
                </div>
                <div *ngIf="shippingAddressZipCode?.errors?.['pattern']">
                  Zip code must contain only numbers.
                </div>
                <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                  Zip code must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span> Billing address same as shipping
            address
          </label>
        </div>
        <fieldset formGroupName="billingAddress" class="form-area">
          <legend class="fw-bold mb-4">Billing Address</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="country">Country: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="country" formControlName="country">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
              <div
                *ngIf="
                  billingAddressCountry?.invalid &&
                  (billingAddressCountry?.dirty ||
                    billingAddressCountry?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div *ngIf="billingAddressCountry?.errors?.['required']">
                  Country is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="state">State: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="state" formControlName="state">
                <option
                  *ngFor="let state of billingAddressStates"
                  [ngValue]="state"
                >
                  {{ state.name }}
                </option>
              </select>
              <div
                *ngIf="
                  billingAddressState?.invalid &&
                  (billingAddressState?.dirty || billingAddressState?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div *ngIf="billingAddressState?.errors?.['required']">
                  State is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="city">City: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="city" formControlName="city" />
              <div
                *ngIf="
                  billingAddressCity?.invalid &&
                  (billingAddressCity?.dirty || billingAddressCity?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']"
                >
                  City is required.
                </div>
                <div *ngIf="billingAddressCity?.errors?.['pattern']">
                  City must contain only letters.
                </div>
                <div *ngIf="billingAddressCity?.errors?.['minlength']">
                  City must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="street">Street: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="street" formControlName="street" />
              <div
                *ngIf="
                  billingAddressStreet?.invalid &&
                  (billingAddressStreet?.dirty || billingAddressStreet?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                >
                  Street is required.
                </div>
                <div *ngIf="billingAddressStreet?.errors?.['pattern']">
                  Street must contain only letters.
                </div>
                <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                  Street must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="zipCode">Zip code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="zipCode" formControlName="zipCode" />
              <div
                *ngIf="
                  billingAddressZipCode?.invalid &&
                  (billingAddressZipCode?.dirty ||
                    billingAddressZipCode?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']"
                >
                  Zip code is required.
                </div>
                <div *ngIf="billingAddressZipCode?.errors?.['pattern']">
                  Zip code must contain only numbers.
                </div>
                <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                  Zip code must be at least 2 characters long.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset formGroupName="creditCardDetails" class="form-area">
          <legend class="fw-bold mb-4">Credit Card Details</legend>
          <div class="row">
            <div class="col-md-3">
              <label for="cardType">Card type: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="cardType" formControlName="cardType">
                <option *ngFor="let cardType of cardTypes" [value]="cardType">
                  {{ cardType }}
                </option>
              </select>
              <div
                *ngIf="
                  creditCardDetailsCardType?.invalid &&
                  (creditCardDetailsCardType?.dirty ||
                    creditCardDetailsCardType?.touched)
                "
              >
                <div
                  *ngIf="creditCardDetailsCardType?.errors?.['required']"
                  class="alert alert-danger mt-2"
                >
                  Card type is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="nameOnCard">Name on card: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="nameOnCard" formControlName="nameOnCard" />
              <div
                *ngIf="
                  creditCardDetailsNameOnCard?.invalid &&
                  (creditCardDetailsNameOnCard?.dirty ||
                    creditCardDetailsNameOnCard?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="creditCardDetailsNameOnCard?.errors?.['required'] || creditCardDetailsNameOnCard?.errors?.['notOnlyWhitespace']"
                >
                  Name on card is required.
                </div>
                <div *ngIf="creditCardDetailsNameOnCard?.errors?.['pattern']">
                  Name on card must contain only letters.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="cardNumber">Card number: </label>
            </div>
            <div class="col-md-9 input-space">
              <input type="text" id="cardNumber" formControlName="cardNumber" />
              <div
                *ngIf="
                  creditCardDetailsCardNumber?.invalid &&
                  (creditCardDetailsCardNumber?.dirty ||
                    creditCardDetailsCardNumber?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="creditCardDetailsCardNumber?.errors?.['required'] || creditCardDetailsCardNumber?.errors?.['notOnlyWhitespace']"
                >
                  Card number is required.
                </div>
                <div *ngIf="creditCardDetailsCardNumber?.errors?.['pattern']">
                  Card number must contain only numbers.
                </div>
                <div
                  *ngIf="creditCardDetailsCardNumber?.errors?.['minlength'] || creditCardDetailsCardNumber?.errors?.['maxlength']"
                >
                  Card number must be between 13 and 19 characters long.
                </div>
                <div *ngIf="creditCardDetailsCardNumber?.errors?.['luhnCheck']">
                  Card number is invalid.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="securityCode">Security code: </label>
            </div>
            <div class="col-md-9 input-space">
              <input
                type="text"
                id="securityCode"
                formControlName="securityCode"
              />
              <div
                *ngIf="
                  creditCardDetailsSecurityCode?.invalid &&
                  (creditCardDetailsSecurityCode?.dirty ||
                    creditCardDetailsSecurityCode?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="creditCardDetailsSecurityCode?.errors?.['required'] || creditCardDetailsSecurityCode?.errors?.['notOnlyWhitespace']"
                >
                  A security code is required.
                </div>
                <div *ngIf="creditCardDetailsSecurityCode?.errors?.['pattern']">
                  Security code must contain only numbers.
                </div>
                <div
                  *ngIf="creditCardDetailsSecurityCode?.errors?.['minlength'] || creditCardDetailsSecurityCode?.errors?.['maxlength']"
                >
                  Security code must be between 3 or 4 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="expirationMonth">Expiration month: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="expirationMonth" formControlName="expirationMonth">
                <option *ngFor="let month of cardMonths" [value]="month">
                  {{ month }}
                </option>
              </select>
              <div
                *ngIf="
                  creditCardDetailsExpirationMonth?.invalid &&
                  (creditCardDetailsExpirationMonth?.dirty ||
                    creditCardDetailsExpirationMonth?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="creditCardDetailsExpirationMonth?.errors?.['required']"
                >
                  Expiration month is required.
                </div>
                <div
                  *ngIf="creditCardDetailsExpirationMonth?.errors?.['pattern']"
                >
                  Expiration month must be between 1 and 12.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="expirationYear">Expiration year: </label>
            </div>
            <div class="col-md-9 input-space">
              <select id="expirationYear" formControlName="expirationYear">
                <option *ngFor="let year of cardYears" [value]="year">
                  {{ year }}
                </option>
              </select>
              <div
                *ngIf="
                  creditCardDetailsExpirationYear?.invalid &&
                  (creditCardDetailsExpirationYear?.dirty ||
                    creditCardDetailsExpirationYear?.touched)
                "
                class="alert alert-danger mt-2"
              >
                <div
                  *ngIf="creditCardDetailsExpirationYear?.errors?.['required']"
                >
                  Expiration year is required.
                </div>
                <div
                  *ngIf="creditCardDetailsExpirationYear?.errors?.['pattern']"
                >
                  Expiration year cannot be in the past.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-3">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
